node_modules/**/*
.expo/*
.vscode/*
npm-debug.*
*.jks
*.p12
*.key
*.env
*.mobileprovision
*.vscode
.idea
*node_modules
*.DS_Store
Backend/node_modules
Frontend/node_modules
/Frontend/a/*
google-services.json